@using OnlineStore.Models
@model Product


<script>
    $(document).ready(function myfunction() {
        var usize;
        $(".beden").click(function () {
            usize = $(this).attr("data-size");
        })

        $(".addtobasket").click(function myfunction() {
            var uid = $(this).attr("name");

            $.ajax({
                type: "GET",
                url: "/Cart/AddBasket",
                data: { id: uid, size: usize },
                success: function myfunction() {
                    $.ajax({
                        type: "GET",
                        url: "/Cart/MiniBasket",
                        async: false,
                        success: function VeriGetir(veri) {
                            console.log("test");
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                            window.location.reload();

                        }

                    })
                },
                error: function myfunction() {
                    alert("Hata : Lütfen beden seçiniz.");
                }
            });
        });
    });


</script>

<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="#">@Model.Category.Root</a></li>
                    <li class="breadcrumb-item"><a href="#">@Model.Category.Title</a></li>
                </ol>
                <!-- btn -->
                @*<a href="#" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>*@
            </div>
        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

                <section class="single_product_details_area section_padding_0_100">
                    <div class="container">
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <div class="single_product_thumb">
                                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                        <ol class="carousel-indicators">
                                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url('../../img/product-img/@Model.ImageName');">
                                            </li>
                                            <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url('../../img/product-img/@Model.ImageName');">
                                            </li>
                                            <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url('../../img/product-img/@Model.ImageName');">
                                            </li>
                                            <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url('../../img/product-img/@Model.ImageName');">
                                            </li>
                                        </ol>

                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <a class="gallery_img" href="~/img/product-img/@Model.ImageName">
                                                    <img class="d-block w-100" src="~/img/product-img/@Model.ImageName" alt="First slide">
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a class="gallery_img" href="~/img/product-img/@Model.ImageName">
                                                    <img class="d-block w-100" src="~/img/product-img/@Model.ImageName" alt="Second slide">
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a class="gallery_img" href="~/img/product-img/@Model.ImageName">
                                                    <img class="d-block w-100" src="~/img/product-img/@Model.ImageName" alt="Third slide">
                                                </a>
                                            </div>
                                            <div class="carousel-item">
                                                <a class="gallery_img" href="~/img/product-img/@Model.ImageName">
                                                    <img class="d-block w-100" src="~/img/product-img/@Model.ImageName" alt="Fourth slide">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="single_product_desc">
                                    <h4 class="title"><a href="#">@Model.Name</a></h4>

                                    <h4 class="price">@Model.Price.SalingPrice ₺</h4>

                                    <p class="available">Available: <span class="text-muted">Stok : @Model.Stock</span></p>

                                    <div class="single_product_ratings mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>

                                    <div class="widget size mb-50">
                                        @if (Model != null)
                                        {
                                            <h6 class="widget-title"></h6>
                                        }
                                            <div class="widget-desc">
                                                <ul>

                                                    @foreach (var item in Model.ProductDetails)
                                                    {
                                                        if (item.ProductItems == "Beden")
                                                        {
                                                            <li><a href="#" class="beden" data-size="@item.Properties">@item.Properties</a></li>
                                                        }

                                                    }
                                                </ul>
                                                <br />
                                                    @*@foreach (var item in Model.ProductDetails.First(x => x.ProductItems == "Renk").PDDetails)
                                                    {
                                                        <p>Renk: @item.Properties</p>
                                                    }*@
                                            </div>
                                    </div>

                                    <!-- Add to Cart Form -->
                                    <form class="cart clearfix mb-50 d-flex" method="post">
                                       
                                        <button type="submit" value="5"  name="@Model.Id" class="btn cart-submit d-block addtobasket">Sepete Ekle</button>
                                    </form>

                                    <div id="accordion" role="tablist">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
                                                </h6>
                                            </div>

                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</p>
                                                    <p>Approx length 66cm/26" (Based on a UK size 8 sample) Mixed fibres</p>
                                                    <p>The Model wears a UK size 8/ EU size 36/ US size 4 and her height is 5'8"</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cart Details</a>
                                                </h6>
                                            </div>
                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos nemo, nulla quaerat. Quibusdam non, eos, voluptatem reprehenderit hic nam! Laboriosam, sapiente! Praesentium.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magnam laborum eaque.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">shipping &amp; Returns</a>
                                                </h6>
                                            </div>
                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime consequatur laudantium temporibus ad et. A optio inventore deleniti ipsa.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->


<section class="you_may_like_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="you_make_like_slider owl-carousel">

                  @{Html.RenderAction("ProductMiniShow", "Home");}

                </div>
            </div>
        </div>
    </div>
</section>
